.container {
    max-width: 1250px;
    margin: 0 auto;
    padding:0 15px;
}

.basic-btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FCFCFC;

    padding: 20px 34px;

    background: #4D66EC;
    border: 2px solid #4D66EC;
    &:hover{
        color:#4D66EC;
        background: #FCFCFC;
        transition-duration: 0.3s;
    }
}

.mobile{
    display: none;
}

// ~~~~~~~~~~section~~~~~~~~~~~

.section-title-wrap{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;

}

.section-title{
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 100%;
    color: #2F3250;
    padding-right: 20px;

    @media (max-width: 575px){
        font-size: 24px;
    }
}

.section-more{
    line-height: 100%;
    text-align: right;
    color: #2F3250;
    white-space: nowrap;

    border-bottom: 1px solid #4D66EC;

    &:hover{
        color: #4D66EC;
    }
}